<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible"
		content="IE=edge">
	<meta name="viewport"
		content="width=device-width,
				initial-scale=1.0">
	<title>admin</title>
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet"
        href="css/admin.css">
        
</head>

<body>

	<!-- for header part -->
	<header>

		<div class="logosec">
			<div class="logo">Happy Home Management Shuttle</div>
			<img src=
"https://media.geeksforgeeks.org/wp-content/uploads/20221210182541/Untitled-design-(30).png"
				class="icn menuicn"
				id="menuicn"
				alt="menu-icon">
		</div>

		<div class="searchbar" >
			<input type="text"
				placeholder="Search" id="search">
			<div class="searchbtn">
			<img src=
"https://media.geeksforgeeks.org/wp-content/uploads/20221210180758/Untitled-design-(28).png"
					class="icn srchicn"
					alt="search-icon">
			</div>
		</div>

		<div class="message">
			<div class="circle"></div>
			<img src=
"https://media.geeksforgeeks.org/wp-content/uploads/20221210183322/8.png"
				class="icn"
				alt="">
			<div class="dp">
			<img src=
"https://media.geeksforgeeks.org/wp-content/uploads/20221210180014/profile-removebg-preview.png"
					class="dpicn"
					alt="dp">
			</div>
		</div>

	</header>

	<div class="main-container" >
		<div class="navcontainer">
			<nav class="nav">
				<div class="nav-upper-options">
					<div class="nav-option option1" onclick="document.getElementById('mail').style.display='none',document.getElementById('main').style.display='block';document.getElementById('UserInfo').style.display='none';document.getElementById('WorkerInfo').style.display='none',document.getElementById('feedback').style.display='none'">
						<img src=
"https://media.geeksforgeeks.org/wp-content/uploads/20221210182148/Untitled-design-(29).png"
							class="nav-img"
							alt="dashboard">
						<h3> Dashboard</h3>
					</div>

					<div class="option2 nav-option" onclick="document.getElementById('mail').style.display='none',document.getElementById('feedback').style.display='block';document.getElementById('UserInfo').style.display='none';document.getElementById('WorkerInfo').style.display='none',document.getElementById('main').style.display='none'">
						<img src=
"https://media.geeksforgeeks.org/wp-content/uploads/20221210183322/9.png"
							class="nav-img"
							alt="articles">
						<h3> Articles</h3>
					</div>

					<div class="nav-option option3" onclick="document.getElementById('mail').style.display='none',document.getElementById('main').style.display='none';document.getElementById('WorkerInfo').style.display='block';document.getElementById('UserInfo').style.display='none',document.getElementById('feedback').style.display='none'">
						<img src=
"https://media.geeksforgeeks.org/wp-content/uploads/20221210183320/5.png"
							class="nav-img"
							alt="report">
						<h3>Workers Info</h3>
					</div>

					<div class="nav-option option4" onclick="document.getElementById('mail').style.display='none',document.getElementById('main').style.display='none';document.getElementById('UserInfo').style.display='block';document.getElementById('WorkerInfo').style.display='none',document.getElementById('feedback').style.display='none'">
						<img src=
"https://media.geeksforgeeks.org/wp-content/uploads/20221210183321/6.png"
							class="nav-img"
							alt="institution">
						<h3> Users Info</h3>
					</div>

					<div class="nav-option option5" onclick="document.getElementById('mail').style.display='block',document.getElementById('main').style.display='none';document.getElementById('UserInfo').style.display='none';document.getElementById('WorkerInfo').style.display='none',document.getElementById('feedback').style.display='none'">
						<img src=
"https://media.geeksforgeeks.org/wp-content/uploads/20221210183323/10.png"
							class="nav-img"
							alt="blog">
						<h3>Announcement</h3>
					</div>

					<div class="nav-option option6" id="setting">
						<img src=
"https://media.geeksforgeeks.org/wp-content/uploads/20221210183320/4.png"
							class="nav-img"
							alt="settings">
						<h3> Settings</h3>
					</div>

					<div class="nav-option logout">
						<img src=
"https://media.geeksforgeeks.org/wp-content/uploads/20221210183321/7.png"
							class="nav-img"
							alt="logout">
						<h3><a href="project">Logout</a></h3>
					</div>

				</div>
			</nav>
		</div>
		<div class="main" id="main">

			<div class="searchbar2">
				<input type="text"
					name=""
					id=""
					placeholder="Search">
				<div class="searchbtn">
				<img src=
"https://media.geeksforgeeks.org/wp-content/uploads/20221210180758/Untitled-design-(28).png"
						class="icn srchicn"
						alt="search-button">
				</div>
			</div>

			<div class="box-container">

				<div class="box box1">
					<div class="text">
						<h2 class="topic-heading"><%= UserCount %></h2>
						<h2 class="topic">Users</h2>
					</div>

					<img src="images/icons8-customer-64.png"
						alt="Views">
				</div>

				<div class="box box2">
					<div class="text">
						<h2 class="topic-heading"><%= WorkerCount %></h2>
						<h2 class="topic">Workers</h2>
					</div>

					<img src="images/icons8-customer-64.png"
						alt="likes">
				</div>

				<div class="box box3">
					<div class="text">
            <h2 class="topic-heading"><%= WorkerApprovedCount %></h2>
						<h2 class="topic">Workers Approved </h2>
					</div>

					<img src="images/icons8-correct-64.png"
						alt="comments">
				</div>

				<div class="box box4">
					<div class="text">
            <h2 class="topic-heading"><%= WorkerRejectedCount %></h2>
						<h2 class="topic">Rejected Workers</h2>
					</div>

					<img src="images/icons8-cancel-48.png" alt="published">
				</div>
			</div>
    

			<div class="report-container" id="report-container">
				<div class="report-header">
					<h1 class="recent-Articles">Recent Articles</h1>
					<button class="view">View All</button>
				</div>

				<div class="report-body">
					<div class="report-topic-heading">
						<h3 class="t-op">Service</h3>
						<h3 class="t-op">booked</h3>
						<h3 class="t-op">Comments</h3>
						<h3 class="t-op">Status</h3>
					</div>

					<div class="items">
						<div class="item1">
							<h3 class="t-op-nextlvl">House paint</h3>
							<h3 class="t-op-nextlvl">2.9k</h3>
							<h3 class="t-op-nextlvl">210</h3>
							<h3 class="t-op-nextlvl label-tag">Available</h3>
						</div>

						<div class="item1">
							<h3 class="t-op-nextlvl">Carpenter</h3>
							<h3 class="t-op-nextlvl">1.5k</h3>
							<h3 class="t-op-nextlvl">360</h3>
							<h3 class="t-op-nextlvl label-tag">Available</h3>
						</div>

						<div class="item1">
							<h3 class="t-op-nextlvl">Men's Saloon</h3>
							<h3 class="t-op-nextlvl">1.1k</h3>
							<h3 class="t-op-nextlvl">150</h3>
							<h3 class="t-op-nextlvl label-tag">Available</h3>
						</div>

						<div class="item1">
							<h3 class="t-op-nextlvl">Women's saloon</h3>
							<h3 class="t-op-nextlvl">1.2k</h3>
							<h3 class="t-op-nextlvl">420</h3>
							<h3 class="t-op-nextlvl label-tag">Available</h3>
						</div>

						<div class="item1">
							<h3 class="t-op-nextlvl">Plumber</h3>
							<h3 class="t-op-nextlvl">2.6k</h3>
							<h3 class="t-op-nextlvl">190</h3>
							<h3 class="t-op-nextlvl label-tag">Available</h3>
						</div>

						<div class="item1">
							<h3 class="t-op-nextlvl">Appliance repair</h3>
							<h3 class="t-op-nextlvl">1.9k</h3>
							<h3 class="t-op-nextlvl">390</h3>
							<h3 class="t-op-nextlvl label-tag">Available</h3>
						</div>

						<div class="item1">
							<h3 class="t-op-nextlvl">Cleaning</h3>
							<h3 class="t-op-nextlvl">1.2k</h3>
							<h3 class="t-op-nextlvl">580</h3>
							<h3 class="t-op-nextlvl label-tag">Available</h3>
						</div>

						<!-- <div class="item1">
							<h3 class="t-op-nextlvl">Article 66</h3>
							<h3 class="t-op-nextlvl">3.6k</h3>
							<h3 class="t-op-nextlvl">160</h3>
							<h3 class="t-op-nextlvl label-tag">Published</h3>
						</div> -->

						<!-- <div class="item1">
							<h3 class="t-op-nextlvl">Article 65</h3>
							<h3 class="t-op-nextlvl">1.3k</h3>
							<h3 class="t-op-nextlvl">220</h3>
							<h3 class="t-op-nextlvl label-tag">Published</h3>
						</div> -->

					</div>
				</div>
			</div>

            <div id="management">
             <div class="box"><div class="w3-card-4" onclick="document.getElementById('id02').style.display='block'">
                <img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210180014/profile-removebg-preview.png" alt="Alps">
                <div class="w3-container w3-center">
                  <p>MANAGE USERS</p>
                </div>
              </div></div>

              <div class="box"><div class="w3-card-4" onclick="document.getElementById('id01').style.display='block'">
                <img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210180014/profile-removebg-preview.png" alt="Alps">
                <div class="w3-container w3-center">
                  <p>MANAGE WORKERS</p>
                </div>
              </div></div>
              <div class="box"><div class="w3-card-4">
                <img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210180014/profile-removebg-preview.png" alt="Alps" width="">
                <div class="w3-container w3-center">
                  <p>PRIVATE</p>
                </div>
              </div></div>
                
		</div>
        <!-- modals -->
        
<div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom">
     <!-- <header class="w3-container w3-blue"> 
      <span onclick="document.getElementById('id01').style.display='none'" 
      class="w3-button w3-blue w3-xlarge w3-display-topright">&times;</span>
      <h2>Header</h2>
     </header> -->
   <!-- names of event are taken for reference purpose only  -->
     <div class="w3-bar w3-border-bottom">
      <button class="tablink w3-bar-item w3-button" onclick="openCity(event, 'London')">ADD</button>
      <button class="tablink w3-bar-item w3-button" onclick="openCity(event, 'Paris')">DELETE</button>
      <button class="tablink w3-bar-item w3-button" onclick="openCity(event, 'Tokyo')">UPDATE</button>
      <button class="tablink w3-bar-item w3-button" onclick="openCity(event, 'germany')">SHOW</button>
     </div>
   
     <div id="London" class="w3-container city">
      <h1>ADD WORKER</h1>
      <!-- taking input  -->
      <form action="/action_page.php" class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin">
        <h2 class="w3-center">ADD A PROFESSIONAL</h2>
         
        <div class="w3-row w3-section">
          <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user"></i></div>
            <div class="w3-rest">
              <input class="w3-input w3-border" name="first" type="text" placeholder="First Name">
            </div>
        </div>
        
        <div class="w3-row w3-section">
          <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user"></i></div>
            <div class="w3-rest">
              <input class="w3-input w3-border" name="last" type="text" placeholder="Last Name">
            </div>
        </div>
        
        <div class="w3-row w3-section">
          <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-envelope-o"></i></div>
            <div class="w3-rest">
              <input class="w3-input w3-border" name="email" type="text" placeholder="Email">
            </div>
        </div>
        
        <div class="w3-row w3-section">
          <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-phone"></i></div>
            <div class="w3-rest">
              <input class="w3-input w3-border" name="phone" type="text" placeholder="Phone">
            </div>
        </div>
        
        <div class="w3-row w3-section">
          <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-pencil"></i></div>
            <div class="w3-rest">
              <input class="w3-input w3-border" name="message" type="text" placeholder="Message">
            </div>
        </div>
        <div class="w3-row w3-section">
            <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-pencil"></i></div>
              <div class="w3-rest">
                <select class="w3-select" name="option">
                    <option value="" disabled selected>Choose your Profession</option>
                    <option value="1">SALOON</option>
                    <option value="2">CARPENTER</option>
                    <option value="3">PAINT</option>
                  </select>
              </div>
          </div>
          <div class="w3-row w3-section">
            <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-pencil"></i></div>
              <div class="w3-rest">
                <input class="w3-input w3-border" name="experience" type="number" placeholder="Experience in years">
              </div>
          </div>
          <div class="w3-row w3-section">
            <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-pencil"></i></div>
              <div class="w3-rest">
                <input class="w3-input w3-border" name="password" type="password" placeholder="create password">
              </div>
          </div>
          <div class="w3-row w3-section">
            <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-pencil"></i></div>
              <div class="w3-rest">
                <input class="w3-radio" type="radio" name="gender" value="male" checked>
  <label>Male</label></p>
  <p>
  <input class="w3-radio" type="radio" name="gender" value="female">
  <label>Female</label></p>
  <p>
  <input class="w3-radio" type="radio" name="gender" value="" disabled>
  <label>Don't know (Disabled)</label></p>
              </div>
          </div>
        
        <button class="w3-button w3-block w3-section w3-blue w3-ripple w3-padding">Send</button>
        
        </form>
     </div>
   
     <div id="Paris" class="w3-container city">
      <h1>DELETE A PROFESSIONAL</h1>
      
      <form class="w3-container w3-card-4 w3-light-grey">
       
        
      
        <p><label>Enter E-Mail</label>
        <input class="w3-input w3-border" name="email" type="text"></p>
      
        <p><label>Enter-Password</label>
        <input class="w3-input w3-border" name="pwd" type="password"></p>
        <p></p>

        <h3 style="color:red;">or</h3>
        <p><h3>Delete by unique registration id</h3></p>
        <div class="w3-row w3-section">
            <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-pencil"></i></div>
              <div class="w3-rest">
                <input class="w3-input w3-border" name="message" type="text" placeholder="enter id">
              </div>
          </div>
          <button class="w3-button w3-white w3-border w3-border-red w3-round-large">DELETE</button>
      </form>
     </div>
   
     <div id="Tokyo" class="w3-container city">
      <h1>UPDATE A PROFESSIONAL</h1>
      <br>
      <!-- updating a professional by  -->
      <div class="w3-bar w3-border-bottom">
        <button class="talink w3-bar-item w3-button" onclick="openity(event, 'L')"> Update name</button>
        <button class="talink w3-bar-item w3-button" onclick="openity(event, 'P')">Update email</button>
        <button class="talink w3-bar-item w3-button" onclick="openity(event, 'T')">Update password</button>
       </div>
     
       <div id="L" class="w3-container cty">
        <h1>UPDATE NAME</h1>
        <form class="w3-container w3-card-4 w3-light-grey">
       
        
      
            <p><label>Enter E-Mail</label>
            <input class="w3-input w3-border" name="email" type="text"></p>
          
            <p><label>Enter-Password</label>
            <input class="w3-input w3-border" name="pwd" type="password"></p>
            <p><label>Enter-Updated-Name</label>
                <input class="w3-input w3-border" name="pwd" type="text"></p>
            <p></p>
    
            <h3 style="color:red;">or</h3>
            <p><h3>update by unique registration id</h3></p>
            <div class="w3-row w3-section">
                <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-pencil"></i></div>
                  <div class="w3-rest">
                    <input class="w3-input w3-border" name="up_id" type="text" placeholder="enter id">

                  </div>
              </div>
              <div class="w3-row w3-section">
                <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-pencil"></i></div>
                  <div class="w3-rest">
                    <input class="w3-input w3-border" name="up_id" type="text" placeholder="enter updated name">
                    
                  </div>
              </div>
              <button class="w3-button w3-red w3-border w3-border-white w3-round-large">SUBMIT</button>
          </form>
        
       </div>
     
       <div id="P" class="w3-container cty">
        <h1>UPDATE EMAIL</h1>
        <form class="w3-container w3-card-4 w3-light-grey">
       
        
      
          <p><label>Enter E-Mail</label>
          <input class="w3-input w3-border" name="email" type="text"></p>
        
          <p><label>Enter-Password</label>
          <input class="w3-input w3-border" name="pwd" type="password"></p>
          <p><label>Enter-Updated-Email</label>
              <input class="w3-input w3-border" name="pwd" type="text"></p>
          <p></p>
  
          <h3 style="color:red;">or</h3>
          <p><h3>update by unique registration id</h3></p>
          <div class="w3-row w3-section">
              <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-pencil"></i></div>
                <div class="w3-rest">
                  <input class="w3-input w3-border" name="up_id" type="text" placeholder="enter id">

                </div>
            </div>
            <div class="w3-row w3-section">
              <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-pencil"></i></div>
                <div class="w3-rest">
                  <input class="w3-input w3-border" name="up_id" type="text" placeholder="enter updated email">
                  
                </div>
            </div>
            <button class="w3-button w3-red w3-border w3-border-white w3-round-large">SUBMIT</button>
        </form>
       </div>
     
       <div id="T" class="w3-container cty">
        <h1>UPDATE PASSWORD</h1>
        <form class="w3-container w3-card-4 w3-light-grey">
       
        
      
          <p><label>Enter E-Mail</label>
          <input class="w3-input w3-border" name="email" type="text"></p>
        
          <p><label>Enter-Password</label>
          <input class="w3-input w3-border" name="pwd" type="password"></p>
          <p><label>Enter-Updated-Password</label>
              <input class="w3-input w3-border" name="pwd" type="text"></p>
          <p></p>
  
          <h3 style="color:red;">or</h3>
          <p><h3>update by unique registration id</h3></p>
          <div class="w3-row w3-section">
              <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-pencil"></i></div>
                <div class="w3-rest">
                  <input class="w3-input w3-border" name="up_id" type="text" placeholder="enter id">

                </div>
            </div>
            <div class="w3-row w3-section">
              <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-pencil"></i></div>
                <div class="w3-rest">
                  <input class="w3-input w3-border" name="up_id" type="text" placeholder="enter updated Password">
                  
                </div>
            </div>
            <button class="w3-button w3-red w3-border w3-border-white w3-round-large">SUBMIT</button>
        </form>
       </div>
     
       <div class="w3-container w3-light-grey w3-padding">
        <button class="w3-button w3-right w3-white w3-border" 
        onclick="document.getElementById('id01').style.display='none'">Close</button>
       </div>
      </div>
     
       <!-- showing the professional  -->
       <div id="germany" class="w3-container city">
        <h1>Show A Professional</h1>
        <br>
        <!-- updating a professional by  -->
        <div class="w3-bar w3-border-bottom">
          <button class="talink w3-bar-item w3-button" onclick="openity(event, 'La')">find by id</button>
          <button class="talink w3-bar-item w3-button" onclick="openity(event, 'Pa')">find by service</button>
          <button class="talink w3-bar-item w3-button" onclick="openity(event, 'Ta')">show all</button>
         </div>
       
         <div id="La" class="w3-container cty">
          <h1>Find a professional by unique id</h1>
          <form class="w3-container w3-card-4 w3-light-grey">
         
          
        
             
      
              <h3 style="color:red;">finder</h3>
              <p><h3>find by unique registration id</h3></p>
              <div class="w3-row w3-section">
                  <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-pencil"></i></div>
                    <div class="w3-rest">
                      <input class="w3-input w3-border" name="up_id" type="text" placeholder="enter id">
  
                    </div>
                </div>
              
                <button class="w3-button w3-red w3-border w3-border-white w3-round-large">SUBMIT</button>
            </form>
          
         </div>
       
         <div id="Pa" class="w3-container cty">
          <h1>Find by service type</h1>
          <form class="w3-container w3-card-4 w3-light-grey">
         
          
        
           
    
            <h3 style="color:red;">or</h3>
            <p><h3>finder</h3></p>
            <div class="w3-row w3-section">
                <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-pencil"></i></div>
                  <div class="w3-rest">
                    <select class="w3-select" name="option">
                        <option value="" disabled selected>Choose the Profession</option>
                        <option value="1">SALOON</option>
                        <option value="2">CARPENTER</option>
                        <option value="3">PAINT</option>
                      </select>
                  </div>
              </div>
              
              <button class="w3-button w3-red w3-border w3-border-white w3-round-large">SUBMIT</button>
          </form>
         </div>
       
         <div id="Ta" class="w3-container cty">
          <h1>show all professionals</h1>
          <form class="w3-container w3-card-4 w3-light-grey">
         
          
        
           
    
            <h3 style="color:red;">show all workers</h3>
            <p><h3></h3></p>
           
              <button class="w3-button w3-red w3-border w3-border-white w3-round-large">SHOW</button>
          </form>
         </div>
       
         <div class="w3-container w3-light-grey w3-padding">
          <button class="w3-button w3-right w3-white w3-border" 
          onclick="document.getElementById('id01').style.display='none'">Close</button>
         </div>
        </div>
       <!-- ------------------  -->
      </div>
     </div>

     <!-- ---------managing part of users  -->
            
<div id="id02" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom">
     <!-- <header class="w3-container w3-blue"> 
      <span onclick="document.getElementById('id01').style.display='none'" 
      class="w3-button w3-blue w3-xlarge w3-display-topright">&times;</span>
      <h2>Header</h2>
     </header> -->
   <!-- names of event are taken for reference purpose only  -->
     <div class="w3-bar w3-border-bottom">
      <button class="tablink w3-bar-item w3-button" onclick="openCity(event, 'L1')">ADD</button>
      <button class="tablink w3-bar-item w3-button" onclick="openCity(event, 'P1')">DELETE</button>
      <button class="tablink w3-bar-item w3-button" onclick="openCity(event, 'T1')">UPDATE</button>
      <button class="tablink w3-bar-item w3-button" onclick="openCity(event, 'g1')">SHOW</button>
     </div>
   
     <div id="L1" class="w3-container city">
      <h1>ADD USER</h1>
      <!-- taking input  -->
      <form action="/action_page.php" class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin">
        <h2 class="w3-center">REGISTER A USER</h2>
         
        <div class="w3-row w3-section">
          <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user"></i></div>
            <div class="w3-rest">
              <input class="w3-input w3-border" name="first" type="text" placeholder="First Name">
            </div>
        </div>
        
        <div class="w3-row w3-section">
          <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user"></i></div>
            <div class="w3-rest">
              <input class="w3-input w3-border" name="last" type="text" placeholder="Last Name">
            </div>
        </div>
        
        <div class="w3-row w3-section">
          <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-envelope-o"></i></div>
            <div class="w3-rest">
              <input class="w3-input w3-border" name="email" type="text" placeholder="Email">
            </div>
        </div>
        
        <div class="w3-row w3-section">
          <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-phone"></i></div>
            <div class="w3-rest">
              <input class="w3-input w3-border" name="phone" type="text" placeholder="Phone">
            </div>
        </div>
        
       
        
          
          <div class="w3-row w3-section">
            <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-pencil"></i></div>
              <div class="w3-rest">
                <input class="w3-input w3-border" name="password" type="password" placeholder="create password">
              </div>
          </div>
          <div class="w3-row w3-section">
            <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-pencil"></i></div>
              <div class="w3-rest">
                <input class="w3-input w3-border" name="password_c" type="password" placeholder="confirm password">
              </div>
          </div>
          <div class="w3-row w3-section">
            <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-pencil"></i></div>
              <div class="w3-rest">
                <input class="w3-radio" type="radio" name="gender" value="male" checked>
  <label>Male</label></p>
  <p>
  <input class="w3-radio" type="radio" name="gender" value="female">
  <label>Female</label></p>
  <p>
  <input class="w3-radio" type="radio" name="gender" value="" disabled>
  <label>Don't know (Disabled)</label></p>
              </div>
          </div>
        
        <button class="w3-button w3-block w3-section w3-blue w3-ripple w3-padding">Send</button>
        
        </form>
        <div class="w3-container w3-light-grey w3-padding">
            <button class="w3-button w3-right w3-white w3-border" 
            onclick="document.getElementById('id02').style.display='none'">Close</button>
           </div>
     </div>
   
     <div id="P1" class="w3-container city">
      <h1>DELETE A account of user</h1>
      
      <form class="w3-container w3-card-4 w3-light-grey">
       
        
      
        <p><label>Enter E-Mail</label>
        <input class="w3-input w3-border" name="email" type="text"></p>
      
        <p><label>Enter-Password</label>
        <input class="w3-input w3-border" name="pwd" type="password"></p>
        <p></p>

        
          <button class="w3-button w3-white w3-border w3-border-red w3-round-large">DELETE</button>
      </form>
      <div class="w3-container w3-light-grey w3-padding">
        <button class="w3-button w3-right w3-white w3-border" 
        onclick="document.getElementById('id02').style.display='none'">Close</button>
       </div>
     </div>
   
     <div id="T1" class="w3-container city">
      <h1>UPDATE A USER</h1>
      <br>
      <!-- updating a professional by  -->
      <div class="w3-bar w3-border-bottom">
        <button class="talink w3-bar-item w3-button" onclick="openity(event, 'L_1')"> Update name</button>
        <button class="talink w3-bar-item w3-button" onclick="openity(event, 'P_1')">Update email</button>
        <button class="talink w3-bar-item w3-button" onclick="openity(event, 'T_1')">Update password</button>
       </div>
     
       <div id="L_1" class="w3-container cty">
        <h1>UPDATE NAME</h1>
        <form class="w3-container w3-card-4 w3-light-grey">
       
        
      
            <p><label>Enter E-Mail</label>
            <input class="w3-input w3-border" name="email" type="text"></p>
          
            <p><label>Enter-Password</label>
            <input class="w3-input w3-border" name="pwd" type="password"></p>
            <p><label>Enter-Updated-Name</label>
                <input class="w3-input w3-border" name="pwd" type="text"></p>
            <p></p>
    
            
             
              <button class="w3-button w3-red w3-border w3-border-white w3-round-large">SUBMIT</button>
          </form>
        
       </div>
     
       <div id="P_1" class="w3-container cty">
        <h1>UPDATE EMAIL</h1>
        <form class="w3-container w3-card-4 w3-light-grey">
       
        
      
          <p><label>Enter E-Mail</label>
          <input class="w3-input w3-border" name="email" type="text"></p>
        
          <p><label>Enter-Password</label>
          <input class="w3-input w3-border" name="pwd" type="password"></p>
          <p><label>Enter-Updated-Email</label>
              <input class="w3-input w3-border" name="pwd" type="text"></p>
          <p></p>
  
          
            
            <button class="w3-button w3-red w3-border w3-border-white w3-round-large">SUBMIT</button>
        </form>
       </div>
     
       <div id="T_1" class="w3-container cty">
        <h1>UPDATE PASSWORD</h1>
        <form class="w3-container w3-card-4 w3-light-grey">
       
        
      
          <p><label>Enter E-Mail</label>
          <input class="w3-input w3-border" name="email" type="text"></p>
        
          <p><label>Enter- PREVIOUS -Password</label>
          <input class="w3-input w3-border" name="pwd" type="password"></p>
          <p><label>Enter-Updated-Password</label>
              <input class="w3-input w3-border" name="pwd" type="text"></p>
          <p></p>
  
         
            <button class="w3-button w3-red w3-border w3-border-white w3-round-large">SUBMIT</button>
        </form>
       </div>
     
       <div class="w3-container w3-light-grey w3-padding">
        <button class="w3-button w3-right w3-white w3-border" 
        onclick="document.getElementById('id02').style.display='none'">Close</button>
       </div>
      </div>
     
       <!-- showing the professional  -->
       <div id="g1" class="w3-container city">
        <h1>Show A User account</h1>
        <br>
        <!-- updating a professional by  -->
        <div class="w3-bar w3-border-bottom">
          <button class="talink w3-bar-item w3-button" onclick="openity(event, 'La_1')">find one</button>
          
          <button class="talink w3-bar-item w3-button" onclick="openity(event, 'Ta_1')">show all</button>
         </div>
       
         <div id="La_1" class="w3-container cty">
          <h1>Find a user</h1>
          <form class="w3-container w3-card-4 w3-light-grey">
       
        
      
            <p><label>Enter E-Mail</label>
            <input class="w3-input w3-border" name="email" type="text"></p>
          
            <p><label>Enter-Password</label>
            <input class="w3-input w3-border" name="pwd" type="password"></p>
            
    
            
             
              <button class="w3-button w3-red w3-border w3-border-white w3-round-large">SUBMIT</button>
          </form>
          
         </div>
       
       
       
         <div id="Ta_1" class="w3-container cty">
          <h1>show all registered users</h1>
          <form class="w3-container w3-card-4 w3-light-grey">
         
          
        
           
    
            <h3 style="color:red;">show all users</h3>
            <p><h3></h3></p>
           
              <button class="w3-button w3-red w3-border w3-border-white w3-round-large">SHOW</button>
          </form>
         </div>
         
         <div class="w3-container w3-light-grey w3-padding">
          <button class="w3-button w3-right w3-white w3-border" 
          onclick="document.getElementById('id02').style.display='none'">Close</button>
         </div>
        </div>
       <!-- ------------------  -->
      </div>
     </div>
     <!-- ------------------------  -->

     </div>
     <div id="WorkerInfo" style="display:none">
      <select id="workerselect" onchange="WorkerFilter()">
        <option value="All">All</option>
        <option value="Approved">Approved</option>
        <option value="Pending">Pending</option>
        <option value="Rejected">Rejected</option>
      </select>
      <% Workers.map((worker)=>{ %>
        <div class="card">
          <img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210180014/profile-removebg-preview.png"
            class="dpicn"
            alt="dp">
      <div class="container">
        <h4><b>Worker Details</b></h4><br>
        <p>Name: <%= worker.name %></p>
        <p class="profession">Profession:<%= worker.Profession %></p>
        <p>Location:<%= worker.location%></p>
        <p>Email: <%= worker.email %></p>
        <p>Phone: <%= worker.phone %></p>
              
      </div>
          <div class="btn ">
          <%  if(worker.CheckStatus=='Approved') {%> 
        <button class="wcheck approved" onclick="approved()">Approved</button><br>
        <%} else {%>
          <form id="redirectForm" method="POST" type="/workerApproval"action="/workerApproval">
            <input type="hidden" name="WorkerId" value="<%= worker._id %>">
            <button class="wcheck approve" onclick="approved()" type="submit">Approve</button><br>
          </form>

        <% }%>
        <%  if(worker.CheckStatus=='Rejected') {%>
          <button class="wcheck rejected" onclick="reject()">Rejected</button>
        <%} else {%>
          <form id="redirectForm" method="POST" type="/workerRejected"action="/workerRejected">
            <input type="hidden" name="WorkerId" value="<%= worker._id %>">
            <button class="wcheck reject" onclick="reject()" type="submit">Reject</button>
          </form>
          <% }%>
          </div>
         
    </div>
  
        <% }) %>
  </div>
  <div id="UserInfo" style="display:none">
    <% Users.map((user)=>{ %>
      <div class="card">
        <img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210180014/profile-removebg-preview.png"
          class="dpicn"
          alt="dp">
    <div class="container">
      <h4><b> User Details</b></h4>
      <p>First Name: <%= user.first_name %></p>
      <p>Last Name: <%= user.last_name %></p>
      <p>Email: <%= user.email %></p>
      <p>Phone: <%= user.phone %></p>
      <form id="redirectForm" method="POST" type="/userRejected"action="/userRejected">
        <input type="hidden" name="UserId" value="<%= user._id %>">
        <button class="reject" onclick="reject()" type="submit">&nbsp; Remove</button>
      </form>
    </div>
      
  </div>

      <% }) %>
</div>
<div id="feedback" style="display:none">

   <div class="feedbackMessages" id="message">
    <% feedbacks.map((feedback)=>{ %>
      <div class="card">
        <img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210180014/profile-removebg-preview.png"
          class="dpicn"
          alt="dp">
    <div class="container">
      <h4><b>Feedbacks from users</b></h4>
      <p>User Id: <%= feedback.userId %></p>
      <p>Message: <%= feedback.message %></p>
            
    </div>
    
  </div>
  <% }) %>
       
  </div>







  </div>
<div id="mail" style="display:none">
    <label for="message"><h2>Write Mail Content Here</h2></label>
    <form type="/SendMail" method="POST" action="/SendMail">
        <textarea id="message" name="mail" required></textarea><br><br>
       
        <button class="mailSubmit" type="submit">Submit</button>
    

    </form>
    
   </div>
</div>
   </div>
 



 
 <script>

  function CheckMail(){
    alert("hello");
    alert(flag);
    if(flag==0){
      flag=1;
      document.getElementById("mail").style.display="block";
      document.getElementById("feedbackMessages").style.display="none";
    }else{
      document.getElementById("mail").style.display="none";
      document.getElementById("feedbackMessages").style.display="block";
    }
    
  }
  var keyword;
 function WorkerFilter () {

  
  const tocheck= document.getElementById("workerselect").value;
  const cards = document.querySelectorAll(".card");

 if(tocheck==="Rejected"){
  keyword="rejected"
  cards.forEach((card) => {
    const names = card
      .querySelectorAll("button");
      
        if (names[1].textContent.toLowerCase().includes(keyword)) {
          card.style.display = "flex";
        } else {
          card.style.display = "none";
        }
     

  });
}
else if(tocheck==="Approved"){
  keyword="approved"
  cards.forEach((card) => {
    const name = card
      .querySelectorAll("button");

    if (name[0].textContent.toLowerCase().includes(keyword)) {
      card.style.display = "flex";
    } else {
      card.style.display = "none";
    }
  });
} else if(tocheck==="Pending"){
  keyword1="rejected";
  keyword2="approved";
  cards.forEach((card) => {
    const name = card.querySelectorAll("button");
    if (!(name[1].textContent.toLowerCase().match(keyword1)) && !(name[0].textContent.toLowerCase().match(keyword2))) {
      card.style.display = "flex";
    } else {
      card.style.display = "none";
    }
  });
}
else{
  cards.forEach((card) => {
   card.style.display = "flex";
  });
}
};
   
        let menuicn = document.querySelector(".menuicn");
        let nav = document.querySelector(".navcontainer");
        
        menuicn.addEventListener("click",()=>
        {
            nav.classList.toggle("navclose");
        })
       
        let set=document.getElementById('setting');
        set.addEventListener("click",()=>
        { if(document.getElementById('management').style.display=='flex'){
            document.getElementById('management').style.display='none'
        }
        else{
            document.getElementById('management').style.display='flex'
        }
            
        })
        document.getElementsByClassName("tablink")[0].click();
       

        function openCity(evt, cityName) {
          var i, x, tablinks;
          x = document.getElementsByClassName("city");
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablink");
          for (i = 0; i < x.length; i++) {
            tablinks[i].classList.remove("w3-light-grey");
          }
          document.getElementById(cityName).style.display = "block";
          evt.currentTarget.classList.add("w3-light-grey");
        }
        document.getElementsByClassName("talink")[0].click();

function openity(evt, cityName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("cty");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("talink");
  for (i = 0; i < x.length; i++) {
    tablinks[i].classList.remove("w3-light-grey");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.classList.add("w3-light-grey");
}
        
const searchInput = document.getElementById("search");
const cards = document.querySelectorAll(".card");

searchInput.addEventListener("input", function () {
  const keyword = this.value.toLowerCase().trim();

  cards.forEach((card) => {
    const name = card
      .querySelector(".profession")
      .textContent.toLowerCase();

    if (name.includes(keyword)) {
      card.style.display = "flex";
    } else {
      card.style.display = "none";
    }
  });
});

 </script>
	<script src="./index.js"></script>
</body>
</html>
